$blue: #0674ec;
$purple: #7347c1;
$grey: #555555;

@mixin f500 {
  font-family: 'Quicksand-Medium', sans-serif;
  font-weight: 500;
}

@mixin f700 {
  font-family: 'Quicksand-Bold', sans-serif;
  font-weight: 700;
}


